# Google Apps Script Web App URL
# Setup: see gas/playlists.gs for the script to deploy
# Deploy as: Execute as Me | Who has access: Anyone
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbywfWd0H-fm34BVEDV2D0Ta6RkDuDQvtk_-53O2gSvHsnnKA-qV_12FYpaeHEteHxv5XQ/exec
